// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

$white: #FFFFFF;
$light-yellow: #FFE29D;
$med-yellow: #FFDFB0;
$orange: #EA591A;
$black: #000000;
$grey: #D4CBB7;
$light-blue: #A8C9E5;
$light-pink: #FFB8D5;
$light-purple: #DFCCF1;
